{% extends './base.html' %}
{% block title %}BUZIGA | About{% endblock %}
{% block content %}
  <div class="about_us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1>About Buziga</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="about_details w3-card-4">
            <p>Buziga waterview apartment is located in Buziga area. Buziga area is about 10 km from Kampala and is within the Makindye division. It is neighbouring Minyonyo, Bunga, Gaba and Makindye. Buziga Waterview apartments is neighbouring other apartments and houses with security guards which makes the area more secure</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="message_header">
            <h1>Message from CEO</h1>
            <div class="message_header_line"></div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="message_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="property_details">
    <div class="container">
      <div class="property_header">
        <h1>Details about the property</h1>
        <div class="property_details_line"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/static/images/bg5.jpg" class="img-fluid" width="100%" alt="">
        </div>
        <div class="col-md-6">
          <div class="property_details_paragraph">
            <p>The apartment are accessible through Konge East road and offer a convenience, peace of mind and excellent view of the landscape and Lake Victoria on the other site. The apartments are for a long and short stay.</p>
            <p>The apartments have the following:</p>
            <ul>
              <li>3 beds with high quality linens, blankets, pillows and hangers in closet;</li>
              <li>2 bathrooms with showers, cotton towels;</li>
              <li>Living room with TV connected to DStv cable,high quality sofas, dining, coffee side tables;</li>
              <li>Kitchen: It has refrigerator/freezer, stove/oven, microwave, kettle, cookwares and cutlery;</li>
              <li>In additional, there is iron and ironing board, WiFi, geyser and cleaning. Laundry service will be available at a fee. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
