{% extends './base.html' %}
{% block title %}BUZIGA | Booking Details{% endblock %}
{% block content %}
  <div class="booking">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-md-6">
          <div class="left_side">
            <h1>Booking form</h1>
            <h2>Please fill out all fields</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right_side">
            <h1>Start your booking here</h1>
            <form method="post" action="">
              {% csrf_token %}
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">First Name</label>
                      <input type="text" name="fname"  value="" placeholder="First name" class="w3-input">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Last Name</label>
                      <input type="text" name="lname" value="" placeholder="Last name" class="w3-input">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Phone Number</label>
                      <input type="number" name="phone" value="" placeholder="Phone number" class="w3-input">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Email Address</label>
                      <input type="email" name="email" value="" placeholder="Email address" class="w3-input">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Check In</label>
                      <input type="date" name="datein" value=""class="w3-input">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Check Out</label>
                      <input type="date" name="dateout" value="" class="w3-input">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Amount(Tshs.):</label>
                      <span class="total_amount">150,000/= Tshs.</span>
                      <input type="hidden" name="" value=""
                      class="w3-input">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <button type="submit" class="btn btn-sm btn_booking" name="button">Book now</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
{% endblock %}
