{% extends './base.html' %}
{% block title %}BUZIGA | Contact{% endblock %}
{% block content %}
  <div class="contact_us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="contact_details">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Location:  Buziga, Konge East Drive</h1>
          <h1>Mobile number: +256 778 693500</h1>
        </div>
        <div class="col-md-4">
          <h1>Email Address: waterview2017@yahoo.com</h1>
          <h1>Address: East Konge Drive, Buziga, Kampala</h1>
        </div>
        <div class="col-md-4">
          <h1>website:www.buzigawaterview.com</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="google_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7741648508522!2d32.61491931419027!3d0.2695589998033329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177dbddd307abcd1%3A0x17f3edb54d23b976!2sBuziga+Apartments!5e0!3m2!1ssw!2stz!4v1551929820469" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
{% endblock %}
