{% extends './base.html' %}
{% block title %}BUZIGA | Home{% endblock %}
{% block content %}
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to Buziga Water View</h1>
          <h2>The best appartment ever</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="form_search">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="form_container">
                  <form class="form">
                    <div class="container">
                      <div class="row no-gutters">
                        <div class="col-md-2">
                          <div class="form-group">
                            <!-- <input type="text" class="w3-input" name="" value="" placeholder=""> -->
                            <select class="custom-select w3-input" name="">
                              <option value="# Rooms"># Rooms</option>
                              <option value="5">5</option>
                              <option value="4">4</option>
                              <option value="3">3</option>
                              <option value="2">2</option>
                              <option value="1">1</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <!-- <input type="text" class="w3-input" name="" value="" placeholder=""> -->
                            <select class="custom-select w3-input" name="">
                              <option value="# Beds"># Beds</option>
                              <option value="5">5</option>
                              <option value="4">4</option>
                              <option value="3">3</option>
                              <option value="2">2</option>
                              <option value="1">1</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <!-- <input type="text" class="w3-input" name="" value="" placeholder=""> -->
                            <select class="custom-select w3-input" name="">
                              <option value="# Bath"># Bath</option>
                              <option value="5">5</option>
                              <option value="4">4</option>
                              <option value="3">3</option>
                              <option value="2">2</option>
                              <option value="1">1</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <!-- <input type="text" class="w3-input" name="" value="" placeholder=""> -->
                            <select class="custom-select w3-input" name="">
                              <option value="# SQM-FT"># SQM-FT</option>
                              <option value="500">500</option>
                              <option value="700">700</option>
                              <option value="800">800</option>
                              <option value="900">900</option>
                              <option value="1000">1000</option>
                              <option value="1500">1500</option>
                              <option value="1700">1700</option>
                              <option value="1800">1800</option>
                              <option value="1900">1900</option>
                              <option value="2000">2000</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <!-- <input type="text" class="w3-input" name="" value="" placeholder=""> -->
                            <select class="custom-select w3-input" name="">
                              <option value="Select Month">Select Month</option>
                              <option value="1 Month">1 Month</option>
                              <option value="2 Months">2 Months</option>
                              <option value="3 Months">3 Months</option>
                              <option value="4 Months">4 Months</option>
                              <option value="5 Months">5 Months</option>
                              <option value="6 Months">6 Months</option>
                              <option value="7 Months">7 Months</option>
                              <option value="8 Months">8 Months</option>
                              <option value="9 Months">9 Months</option>
                              <option value="10 Months">10 Months</option>
                              <option value="11 Months">11 Months</option>
                              <option value="12 Month">12 Month</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <button type="submit" class="w3-btn btn-primary btn-block" name="button">Search</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="apartment_list">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="apartment_container">
                <img src="/static/images/bg2.jpg" class="img-fluid" width="100%" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="apartment_container">
                <img src="/static/images/bg7.jpg" class="img-fluid" width="100%" alt="">
            </div>
          </div>
        </div>
    </div>

  <br>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <img src="/static/images/bg2.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="/static/images/bg7.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="/static/images/bg5.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <img src="/static/images/bg7.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="/static/images/bg2.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="/static/images/bg5.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <img src="/static/images/bg2.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="/static/images/bg5.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="/static/images/bg7.jpg" class="img-fluid" width="100%" alt="">
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="image_part">
            <img src="/static/images/bg5.jpg" class="img-fluid" width="100%" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="description">
            <h1>About Buziga</h1>
            <p>Buziga waterview apartment is located in Buziga area. Buziga area is about 10 km from Kampala and is within the Makindye division. It is neighbouring Minyonyo, Bunga, Gaba and Makindye. Buziga Waterview apartments is neighbouring other apartments and houses with security guards which makes the area more secure.</p>
            <a href="{% url 'about_us' %}" class="btn btn-sm btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="latest_apartment">
    <div class="container">
      <h1>Latest Appartments</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="row">
        <div class="col-md-4">
          <span>for rent</span>
          <div class="apartment_container_list">
          <img src="/static/images/bg7.jpg" class="img-fluid" width="100%" alt="">
          <div class="list_one">
            <ul>
              <li>3-Rooms</li>
              <li>2-Beds</li>
              <li>3-Baths</li>
              <li>1100-SQ-FT</li>
            </ul>
          </div>
          <div class="dropdown-divider"></div>
          <div class="list_two">
            <h1>Appartment title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        <div class="dropdown-divider"></div>
          <div class="list_three">
            <ul>
              <li class="price">$300</li>
              <li class="button_details"><a href="#" class="btn btn-primary btn_more_details">View Details</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <span>for rent</span>
          <div class="apartment_container_list">
          <img src="/static/images/bg7.jpg" class="img-fluid" width="100%" alt="">
          <div class="list_one">
            <ul>
              <li>3-Rooms</li>
              <li>2-Beds</li>
              <li>3-Baths</li>
              <li>1100-SQ-FT</li>
            </ul>
          </div>
          <div class="dropdown-divider"></div>
          <div class="list_two">
            <h1>Appartment title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        <div class="dropdown-divider"></div>
          <div class="list_three">
            <ul>
              <li class="price">$300</li>
              <li class="button_details"><a href="#" class="btn btn-primary btn_more_details">View Details</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <span>for rent</span>
          <div class="apartment_container_list">
          <img src="/static/images/bg7.jpg" class="img-fluid" width="100%" alt="">
          <div class="list_one">
            <ul>
              <li>3-Rooms</li>
              <li>2-Beds</li>
              <li>3-Baths</li>
              <li>1100-SQ-FT</li>
            </ul>
          </div>
          <div class="dropdown-divider"></div>
          <div class="list_two">
            <h1>Appartment title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        <div class="dropdown-divider"></div>
          <div class="list_three">
            <ul>
              <li class="price">$300</li>
              <li class="button_details"><a href="#" class="btn btn-primary btn_more_details">View Details</a></li>
            </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4 offset-md-4">
            <center><a href="{% url 'appartments' %}" class="btn btn-primary btn_more_appartments" >More Appartments</a></center>
          </div>
      </div>
    </div>
  </div>
  <div class="find_your_best_appartment">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Find your best appartment</h1>
          <a href="{% url 'appartments' %}" class="w3-btn btn-primary">view Appartment</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
