{% extends './base.html' %}
{% block title %}BUZIGA | Booking Details{% endblock %}
{% block content %}
  <div class="success_container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                    <div class="w3-panel w3-display-container w3-green">
                    <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-display-topright">x</span>
                    <h1 {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</h1>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
  </div>
{% endblock %}
