@import url('https://fonts.googleapis.com/css?family=Montserrat');

.navigation{
  background-color: #fff;
}
.navigation div ul li a{
  font-size: 14px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
/*=========================== home style ===========================*/
.home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/bg16.jpg");
  padding-top:150px;
  padding-bottom: 250px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home h1{
  font-size: 70px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.home h2{
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}


/*========================= form_search style =========================*/
.form_search{
  padding-bottom: 50px;
}
.form_container{
  background: rgb(46, 60, 74,0.5);
  margin-top: -100px;
  padding: 50px 0px;
}
.form_container form input[type = text]{
  border: none;
}
.form_container form select{
  border: none;
  border-radius: 0px;
  outline: none;
}
.form_container form button{
  color: #fff;
  background: #3399ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
/*======================== apartment_list style ========================*/
.apartment_list{
  padding: 50px 0px;
  background: #bebebe;
}


/*============================= about style =============================*/
.about{
  padding: 200px 0px;
  color: #000;
}
.about .image_part img{
  border-radius: 10px;
}
.about .description h1{
  text-align: center;
  font-size: 30px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.about .description p{
  text-align: justify;
  font-size: 14px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.about .description a{
  border-radius: 0px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 50px;
  padding-top: 15px;
  text-transform: uppercase;
}


/*============================== about_us ==============================*/
.about_us{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/bg16.jpg");
  padding-top:150px;
  padding-bottom: 250px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about_us h1{
  font-size: 70px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.about_us .about_details{
  padding: 50px 10px;
  margin: 30px 0px;
  background: #ffffff;
  border-top-left-radius: 40px;
  color: #000;
}
.about_us .about_details p{
  text-align: justify;
}
.message{
  padding: 100px 0px;
}
.message .message_header{
  padding: 30px 0px;
}
.message .message_header h1{
  font-size: 30px;
  text-align: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.message .message_header .message_header_line{
  width: 70px;
  height: 3px;
  background: #000;
  margin: auto;
}
.property_details{
  padding: 100px 0px;
  background: #ccc;
}
.property_details .property_header{
  padding: 30px 0px;
}
.property_details .property_header h1{
  font-size: 30px;
  text-align: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.property_details .property_header .property_details_line{
  width: 70px;
  height: 3px;
  background: #000;
  margin: auto;
}
.property_details .property_details_paragraph{
  color: #000;
}
.property_details .property_details_paragraph p{
  color: #000;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}
.property_details .property_details_paragraph ul{
  list-style-type: disc;
}
.property_details .property_details_paragraph ul li{
  color: #000;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}









/*========================== contact_us style ==========================*/
.contact_us{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/bg16.jpg");
  padding-top:150px;
  padding-bottom: 250px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact_us h1{
  font-size: 70px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.contact_details{
  padding: 100px 0px;
  text-align: center;
}
.contact_details h1{
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}



/*======================= latest_apartment style =======================*/
.latest_apartment{
  padding: 100px 0px;
  background: #ccc;
}
.latest_apartment h1{
  text-align: center;
  font-size: 30px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.latest_apartment p{
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}
.latest_apartment span{
  background: #3399ff;
  color: #fff;
  padding: 10px 20px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-top: 4px;
}
.latest_apartment .apartment_container_list{
  background: #fff;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.latest_apartment .apartment_container_list img{
  z-index: -2;
}
.latest_apartment .apartment_container_list .list_one ul{
  list-style: none;
  text-align: left;
}
.latest_apartment .apartment_container_list .list_one ul li{
  display: inline;
  line-height: 40px;
  word-spacing: 50px;
}
.latest_apartment .apartment_container_list .list_two h1{
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.latest_apartment .apartment_container_list .list_two p{
  text-align:justify;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.latest_apartment .apartment_container_list .list_three ul{
  list-style: none;
  text-align: left;
}
.latest_apartment .apartment_container_list .list_three ul li{
  display: inline;
  line-height: 40px;
}
.latest_apartment .apartment_container_list .list_three ul li.button_details{
  float: right;
  margin-right: 10px;
}
.latest_apartment .apartment_container_list .list_three ul li.button_details a{
  border-radius: 0px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.latest_apartment .apartment_container_list .list_three ul li.price{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.latest_apartment  a.btn_more_appartments{
  border-radius: 0px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 50px;
  padding-top: 15px;
  text-transform: uppercase;
}



/*====================== find_your_best_appartment style ======================*/
.find_your_best_appartment{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/bg10.jpg");
  padding-top:150px;
  padding-bottom: 250px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.find_your_best_appartment h1{
  text-align: text;
  font-size: 50px;
  font-weight: bold;
  padding-left: 10px;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.find_your_best_appartment a{
  border-radius: 0px;
  border: none;
  background: #3399ff;
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  height: 50px;
  padding-top: 15px;
  text-transform:uppercase;
}


/*=========================== footer style ===========================*/
.footer{
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding: 100px 0px;
}


/*========================== appartment_page ==========================*/
.appartment_page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/bg10.jpg");
  padding-top:200px;
  padding-bottom: 200px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.appartment_page h1{
  font-size: 70px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.list{
  padding: 10px 0px;
}
.list .all_appartment_list{
  /* padding: 10px 10px; */
  margin-bottom: 10px;
}
.list .all_appartment_list img{
  width: 100%;
  height: 100%;
}
.list .all_appartment_list .three{
  display: block;
}
.list .all_appartment_list .three .price{
  float: left;
}
.list .all_appartment_list .three .price h4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.list .all_appartment_list .three .button{
  float: right;
  margin-right: 20px;
}
.list .all_appartment_list .three .button a{
  color: #fff;
  background: #3399ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  height: 40px;
  border: none;
  border-radius: 0px;
}
.list form input[type = text]{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.appartment_message{
  padding: 100px 0px;
}
.appartment_message div .w3-panel{
  background: #3399ff;
}
.appartment_message div .w3-panel h1{
  background: #3399ff;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}


/*======================= appartment_details style =======================*/
.appartment_details{
  padding: 100px 0px;
}
.appartment_details h1{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.appartment_details p.price{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.appartment_details p.bedroom, p.bathroom{
  font-family: 'Montserrat', sans-serif;
}
.appartment_details p.paragraph{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.appartment_details .two{
  padding-top: 10px;
}
.appartment_details p a{
  border-radius: 0px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 50px;
  padding-top: 15px;
  text-transform: uppercase;
}


/*======================= booking page style =======================*/
.booking .left_side{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/bg16.jpg");
  padding-top:150px;
  padding-bottom: 250px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.booking .left_side h1{
  font-size: 70px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.booking .left_side h2{
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform:capitalize;
}
.booking .right_side{
  padding: 100px 0px;
}
.booking .right_side h1{
  font-size: 14px;
  text-align: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.booking .right_side form label{
  font-size: 15px;
  text-align: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.booking .right_side form input[type = text]{
  font-size: 14px;
  text-align: justify;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #000;
}
.booking .right_side form input[type = number]{
  font-size: 14px;
  text-align: justify;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #000;
}
.booking .right_side form input[type = email]{
  font-size: 14px;
  text-align: justify;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #000;
}
.booking .right_side form input[type = date]{
  font-size: 14px;
  text-align: justify;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #000;
}
.booking .right_side form span{
  font-size: 14px;
  text-align: justify;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  background: #00ff00;
  padding: 10px 30px;
  font-weight: bold;
}
.booking .right_side form button{
  border-radius: 0px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #3399ff;
  color: #fff;
  padding: 10px 30px;
  outline: none;
  text-transform: capitalize;
  width: 100%;
}



